# Recommendation System

In this recommendation system I have used Kaggle dataset named Post Recommendation System Here is the link of that : https://www.kaggle.com/vatsalparsaniya/post-pecommendation

It will consume a user_id and check the history or like or vote he has given to post and check other users simliarities and then recommend posts.

Here we go::::::::::::

In [1]:
#importing relevant libraries

import pandas as pd
import numpy as np
import re

In [2]:
#Datasets Importing 
#post_data consists of post details like post_id, title, category
#user_data consists of user's information
#view_data consists of which user view which post

post_data = pd.read_csv(r'postnew_data.csv')
user_data = pd.read_csv(r'user_data.csv')
view_data = pd.read_csv(r'view_data.csv')

In [4]:
post_data.head()

,title,category,post_id,content
0,Find A Quick Way To GRAPHIC,graphic,10260109,Hiring Alert | SDE-1 Tata 1mg is hiring SDE-1 ...
1,How To Sell CRAFT,Craft,39550285,Netomi Hiring SDE Intern (Frontend) - Batch -...
2,POLITICS An Incredibly Easy Method That Works ...,politics,935118791,Shift Boolean is hiring Python Developer Inte...
3,5 Brilliant Ways To Use POLITICAL,political,151805043,"Solera, Inc. is hiring for SDE-I Role - Batch..."
4,How To Make Your MATHEMATICS Look Amazing In ...,Mathematics,995833095,"Groww, India is hiring for SDE Role - Batch:..."

In [6]:
post_data = post_data.drop('title', axis=1)

In [7]:
post_data.head()

      category    post_id                                            content
0      graphic   10260109  Hiring Alert | SDE-1 Tata 1mg is hiring SDE-1 ...
1        Craft   39550285   Netomi Hiring SDE Intern (Frontend) - Batch -...
2     politics  935118791   Shift Boolean is hiring Python Developer Inte...
3    political  151805043   Solera, Inc. is hiring for SDE-I Role - Batch...
4  Mathematics  995833095    Groww, India is hiring for SDE Role - Batch:...

In [8]:
user_data.head()

,user_id,first_name,last_name,gender,avatar,city,academics
0,5eece14efc13ae6609000000,Milena,Lacelett,Female,https://robohash.org/quisidomnis.png?size=50x5...,Blagoveshchensk,undergraduate
1,5eece14efc13ae6609000001,Nolan,Satcher,Male,https://robohash.org/dignissimosrepudiandaedol...,Wufeng,undergraduate
2,5eece14efc13ae6609000002,Eveleen,Cotterell,Female,https://robohash.org/remomnissuscipit.png?size...,Barra Bonita,undergraduate
3,5eece14efc13ae6609000003,Petrina,Berr,Female,https://robohash.org/estquasconsectetur.png?si...,San Angelo,undergraduate
4,5eece14efc13ae6609000004,Saunderson,Duquesnay,Male,https://robohash.org/nullaaest.png?size=50x50&...,Olszówka,graduate

In [9]:
view_data.head()

                    user_id    post_id           time_stamp
0  5eece14ffc13ae660900008b  136781766  01/01/2019 01:30 PM
1  5eece14efc13ae660900003c   43094523  01/01/2019 01:33 PM
2  5eece14efc13ae6609000025   42428071  01/01/2019 01:43 PM
3  5eece14ffc13ae66090001d4   76472880  01/01/2019 01:54 PM
4  5eece14ffc13ae66090000ac  202721843  01/01/2019 02:00 PM

In [10]:
post_data.shape

(6000, 3)

In [11]:
post_data.head()

      category    post_id                                            content
0      graphic   10260109  Hiring Alert | SDE-1 Tata 1mg is hiring SDE-1 ...
1        Craft   39550285   Netomi Hiring SDE Intern (Frontend) - Batch -...
2     politics  935118791   Shift Boolean is hiring Python Developer Inte...
3    political  151805043   Solera, Inc. is hiring for SDE-I Role - Batch...
4  Mathematics  995833095    Groww, India is hiring for SDE Role - Batch:...

In [12]:
#Making Recommendation system is not a supervised learning right that consist of label but it is 
# unsupervised learning so we have to add likes or make it valuable that means the user rate it valuable
# in terms of rating like out of 5 okay
# I add up it.

dataframe = pd.DataFrame(view_data)

In [13]:
dataframe["Valuable"] = np.random.randint(1, 6, len(dataframe))

In [14]:
#this is our data right now.
dataframe

                        user_id    post_id           time_stamp  Valuable
0      5eece14ffc13ae660900008b  136781766  01/01/2019 01:30 PM         4
1      5eece14efc13ae660900003c   43094523  01/01/2019 01:33 PM         4
2      5eece14efc13ae6609000025   42428071  01/01/2019 01:43 PM         1
3      5eece14ffc13ae66090001d4   76472880  01/01/2019 01:54 PM         5
4      5eece14ffc13ae66090000ac  202721843  01/01/2019 02:00 PM         4
...                         ...        ...                  ...       ...
71795  5eece14ffc13ae660900018c  615389604  12/31/2019 12:37 AM         1
71796  5eece14ffc13ae660900010c  348689108  12/31/2019 12:50 PM         1
71797  5eece14ffc13ae6609000190  619052165  12/31/2019 12:51 AM         4
71798  5eece14efc13ae6609000067  426384418  12/31/2019 12:51 PM         4
71799  5eece14ffc13ae6609000110  165390871  12/31/2019 12:54 AM         4

[71800 rows x 4 columns]

In [15]:
# in this cell we are merging view data and the dataframe I have made of post data. in this post id is common.

df = pd.merge(dataframe, post_data ,on='post_id')
df.tail()

,user_id,post_id,time_stamp,Valuable,category,content
71795,5eece14ffc13ae66090000c3,810223923,08/28/2019 06:32 PM,1,graphic,"Seriously, this is why people need to read Tra..."
71796,5eece14efc13ae6609000073,810223923,09/15/2019 06:58 PM,5,graphic,"Seriously, this is why people need to read Tra..."
71797,5eece14ffc13ae660900017d,810223923,10/31/2019 09:50 PM,1,graphic,"Seriously, this is why people need to read Tra..."
71798,5eece14ffc13ae66090000e3,810223923,12/04/2019 03:56 PM,5,graphic,"Seriously, this is why people need to read Tra..."
71799,5eece14ffc13ae6609000135,810223923,12/20/2019 09:54 AM,5,graphic,"Seriously, this is why people need to read Tra..."

In [16]:
df.head()

,user_id,post_id,time_stamp,Valuable,category,content
0,5eece14ffc13ae660900008b,136781766,01/01/2019 01:30 PM,4,banking,We need a new Hippocratic Oath that meets the ...
1,5eece14ffc13ae66090001da,136781766,01/31/2019 12:18 AM,4,banking,We need a new Hippocratic Oath that meets the ...
2,5eece14efc13ae660900003a,136781766,02/02/2019 06:12 PM,2,banking,We need a new Hippocratic Oath that meets the ...
3,5eece14ffc13ae6609000131,136781766,02/03/2020 04:46 PM,2,banking,We need a new Hippocratic Oath that meets the ...
4,5eece14ffc13ae6609000167,136781766,02/15/2019 12:02 AM,3,banking,We need a new Hippocratic Oath that meets the ...

In [17]:
#drop the irrevelent features i.e category is important but not for this. and also time_stamp is not 
#important right now.
data = df.drop(['time_stamp', 'category'], axis=1)

In [21]:
data.tail()

,user_id,post_id,Valuable,content
71795,5eece14ffc13ae66090000c3,810223923,1,"Seriously, this is why people need to read Tra..."
71796,5eece14efc13ae6609000073,810223923,5,"Seriously, this is why people need to read Tra..."
71797,5eece14ffc13ae660900017d,810223923,1,"Seriously, this is why people need to read Tra..."
71798,5eece14ffc13ae66090000e3,810223923,5,"Seriously, this is why people need to read Tra..."
71799,5eece14ffc13ae6609000135,810223923,5,"Seriously, this is why people need to read Tra..."

In [22]:
data.shape

(71800, 4)

In [23]:
# In this first we have to make a column here that consists of total ratings a title or a post have. 
#like 10 Funny ART Quotes has 15 votes given by users.

combine_post_rating = data.dropna(axis = 0, subset = ['content'])

post_ratingCount = (combine_post_rating.
     groupby(by = ['content'])['Valuable'].
     count().
     reset_index().
     rename(columns = {'Valuable': 'totalValuableCount'})
     [['content', 'totalValuableCount']]
    )
post_ratingCount.head()

                                             content  totalValuableCount
0    Groww, India is hiring for SDE Role - Batch:...                  12
1   Address Book Project : Let’s check out anothe...                  15
2   Amazon: To prepare for Amazons SDE position, ...                  13
3   Apache Spark - Apache Spark is a distributed ...                  14
4   Business Portfolio Website : In today’s digit...                   6

In [24]:

#Merge it into our main dataset 
rating_with_totalValuableCount = combine_post_rating.merge(post_ratingCount, left_on = 'content', right_on = 'content', how = 'left')
rating_with_totalValuableCount.tail()

,user_id,post_id,Valuable,content,totalValuableCount
66191,5eece14ffc13ae66090000c3,810223923,1,"Seriously, this is why people need to read Tra...",5
66192,5eece14efc13ae6609000073,810223923,5,"Seriously, this is why people need to read Tra...",5
66193,5eece14ffc13ae660900017d,810223923,1,"Seriously, this is why people need to read Tra...",5
66194,5eece14ffc13ae66090000e3,810223923,5,"Seriously, this is why people need to read Tra...",5
66195,5eece14ffc13ae6609000135,810223923,5,"Seriously, this is why people need to read Tra...",5

In [25]:
#It is just how to see data desciption and stuff.
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(post_ratingCount['totalValuableCount'].describe())

count   5522.000
mean      11.988
std        3.444
min        2.000
25%       10.000
50%       12.000
75%       14.000
max       24.000
Name: totalValuableCount, dtype: float64

In [26]:
print(post_ratingCount['totalValuableCount'].quantile(np.arange(.9, 1, .01)))

0.900   17.000
0.910   17.000
0.920   17.000
0.930   17.000
0.940   18.000
0.950   18.000
0.960   18.000
0.970   19.000
0.980   19.000
0.990   20.000
Name: totalValuableCount, dtype: float64

In [27]:
#we have to fix a threshold here that machine will recommend post to user that have votes greater than
# the threshold values
popularity_threshold = 13
rating_popular_post = rating_with_totalValuableCount.query('totalValuableCount >= @popularity_threshold')
rating_popular_post.tail()

,user_id,post_id,Valuable,content,totalValuableCount
66096,5eece14ffc13ae66090001bb,36975738,5,A new report from The Rocky Mountains Institut...,13
66097,5eece14ffc13ae660900012d,36975738,4,A new report from The Rocky Mountains Institut...,13
66098,5eece14efc13ae660900006c,36975738,5,A new report from The Rocky Mountains Institut...,13
66099,5eece14ffc13ae660900007e,36975738,1,A new report from The Rocky Mountains Institut...,13
66100,5eece14efc13ae6609000048,36975738,5,A new report from The Rocky Mountains Institut...,13

In [28]:
rating_popular_post.shape

(35491, 5)

In [29]:
user_data.head()

,user_id,first_name,last_name,gender,avatar,city,academics
0,5eece14efc13ae6609000000,Milena,Lacelett,Female,https://robohash.org/quisidomnis.png?size=50x5...,Blagoveshchensk,undergraduate
1,5eece14efc13ae6609000001,Nolan,Satcher,Male,https://robohash.org/dignissimosrepudiandaedol...,Wufeng,undergraduate
2,5eece14efc13ae6609000002,Eveleen,Cotterell,Female,https://robohash.org/remomnissuscipit.png?size...,Barra Bonita,undergraduate
3,5eece14efc13ae6609000003,Petrina,Berr,Female,https://robohash.org/estquasconsectetur.png?si...,San Angelo,undergraduate
4,5eece14efc13ae6609000004,Saunderson,Duquesnay,Male,https://robohash.org/nullaaest.png?size=50x50&...,Olszówka,graduate

In [30]:
len(user_data.city.unique())

491

Making model from here.
we have to make a data matrix like indexes are titles and columns are user id and target is how valuable or how much likes it have.

Use here cosine similiarity to find the simliarity between user and other users.

In [31]:
from scipy.sparse import csr_matrix
rating_popular_post = rating_popular_post.drop_duplicates(['user_id', 'content'])
rating_popular_post_pivot = rating_popular_post.pivot(index = 'content', columns = 'user_id', values = 'Valuable').fillna(0)
rating_popular_post_matrix = csr_matrix(rating_popular_post_pivot.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(rating_popular_post_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [32]:
rating_popular_post_pivot.shape[0]

2330

In [33]:
rating_popular_post_pivot

user_id,5eece14efc13ae6609000000,5eece14efc13ae6609000001,5eece14efc13ae6609000002,5eece14efc13ae6609000003,5eece14efc13ae6609000004,5eece14efc13ae6609000005,5eece14efc13ae6609000006,5eece14efc13ae6609000007,5eece14efc13ae6609000008,5eece14efc13ae6609000009,...,5eece14ffc13ae66090001ea,5eece14ffc13ae66090001eb,5eece14ffc13ae66090001ec,5eece14ffc13ae66090001ed,5eece14ffc13ae66090001ee,5eece14ffc13ae66090001ef,5eece14ffc13ae66090001f0,5eece14ffc13ae66090001f1,5eece14ffc13ae66090001f2,5eece14ffc13ae66090001f3
content,,,,,,,,,,,,,,,,,,,,,
"Address Book Project : Let’s check out another web development project for beginners – Address Book. The Address Books Project will be a personal platform where you can keep track of the contact details such as phone number, email-ID, address, etc. of your friends, family, colleagues, and others. You can start to build this particular project considering these basic features – adding a new contact, saving it, and search & view contacts. Several additional features that can also be considered are – editing an existing contact, deleting a contact, etc. Though the entire programming for the project can be done using fundamental HTML, CSS, and JavaScript, you can also use an API that generates placeholder data and can structure the JSON as per your skill level. You need to know that an Address Book Project can be created from the basic to the advanced level, so try to build it from the basic level first.",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,0.000
"Amazon: To prepare for Amazons SDE position, start by understanding their 14 leadership principles, as these principles are the core values of the company. Practice coding challenges and system design questions, and be prepared to demonstrate your problem-solving abilities. Brush up on your knowledge of Java, as Amazon primarily uses Java for their tech stack. Additionally, be prepared for behavioral-based interview questions.",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"Apache Spark - Apache Spark is a distributed computing framework used for processing large datasets. It provides APIs for machine learning, graph processing, and streaming data processing. (https://spark.apache.org/)",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"ElectricPe is hiring for SDE Role - Batch: 2022/2021, Role: Full Stack developer, Expected CTC: 12-20 LPA, Location: Bangalore, Apply here: https://lnkd.in/dWv9a39X",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"Keras - Keras is a high-level neural network API that can run on top of TensorFlow, Theano, or CNTK. It provides a user-friendly interface for building and training neural networks. (https://keras.io/)",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"“We need to find different ways to teach, learn and create” – Holly chats to George The Poet and BBC Sounds https://lnkd.in/drPvyu7",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
“Why do we kill people who kill people to show that killing people is wrong?” https://lnkd.in/dU7Ykeh #abolishthedeathpenalty,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,5.000,0.000,0.000,0.000
“You don’t have to have it all figured out – just be prepared to keep learning” - Great read on how to balance starting a business while working full time too: https://virg.in/jza Virgin StartUp #thursdaymotivation #entrepreneurtips,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"➡️ ""As a businesswoman, know your worth."" ➡️ ""Never soften yourself become someone else can't handle your drive."" ➡️ ""There will be times where you will be pushed aside. Know which battles to fight."" ➡️ ""I would like to be disliked by some: sexists, racists, and anyone discriminating against another person. As women, we feel pressured to try to make everyone like us. This is wrong."" ➡️ ""Never let a man make you feel guilty for liking nice things. You are allowed to love yourself and others."" ⬆️ All of these are quotes from female mentors in my life who, at one point or another, have told me these things as a form of empowerment. Happy #InternationalWomensDay and thank you to all the people who empower women to be greater, stronger, and more self-reliant. #empowerment #WomensDay #femalementors CC: Natasha Takahashi , Angela H. Chen , Jessica Chou , Tamalin Srisook-Polo , Kayle John , Kwiri Yang , Michelle Kwok , Goldie Chan , Brittany Krystle Hoffman , Patrisse Chan \n \n \n …see more",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"💤 How can you go to bed every night, not knowing how you will feel in the morning? This is my question to those who’re not using a smart sleep alarm. Smart alarms are the Holy Grail of health tracking. In short: There might be only 2 minutes (light vs deep sleep) between the two states after the wake-up. Would you opt for needing 3 cups of coffee to start the day or being able to start the day with energy? A smart alarm helps you wake up only from light sleep to feel better the entire day. Jackpot! Give me a reason why you’d not want this in your life! Learn more about it on The Medical Futurist https://lnkd.in/eghBX5Q #themedicalfuturist #sleep #sleeping #sleeptracking #smartalarm #digitalhealth #future #healthcare #medicine #technology #wearable #health #healthy #healthtracking \n \n \n …see more",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [38]:
print(rating_popular_post_pivot.shape[1])

(2330, 494)

Choose a random users and recommend it a title of post by looking their cosine simliarity scores

In [34]:
inp=int(input("Enter User Id"))
n=rating_popular_post_pivot.shape[0]
for i in range(n):
query_index = np.random.choice(rating_popular_post_pivot.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(rating_popular_post_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

1965

In [35]:
# this is our name of user 3 and title he has seen or vote it and our task is to recommend it similiar
#post
rating_popular_post_pivot.index[query_index]

'Virgin Atlantic  will be flying UK citizens home from Cape Town, Johannesburg, Delhi and Mumbai. They are operating a number of rescue flights in partnership with the Foreign & Commonwealth Office.'

In [36]:
#Here we go
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(rating_popular_post_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, rating_popular_post_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Virgin Atlantic  will be flying UK citizens home from Cape Town, Johannesburg, Delhi and Mumbai. They are operating a number of rescue flights in partnership with the Foreign & Commonwealth Office.:

1: More and more people of all ages are exhibiting negative feelings.  We are noticing, based on recent studies, a growth in mental health issues.  Try The Feeling Alphabet Activity Set, co-authored with Dr. Ed Wang of Harvard Medical School.  It has activities, games, strategies and approaches for naming feelings; unless you can name them (the positive and negative ones), you cannot tame them.  $4.99 for download at  https://lnkd.in/eQRjuET .  Bulk download pricing available for use with groups. Key here is this works: and there is an introduction we co-authored that is worth reading -- in any case -- whether you use the activities or not.  It explains how our feelings, thoughts and behaviors work together.  The important brain triangle.


 …see more, with distance of 0.6960818282102352:
2: Kentucky announces an innovative new registered #apprenticeship pilot program aimed at strengthening social services #careers  #socialservices   Robert Lerman   Ervin Dimeny   https://lnkd.in/etH7U5G, with distance of 0.7309377627559628:
3: What's common in Anthony Fauci,  Eric Topol, MD ,  Albert-Laszlo Barabasi ,  Larry Brilliant , Yuval Noah Harari, and Queen Elizabeth II?  Maybe that they all mark the beginning of a new era: when we listen to influencers standing for science and professionalism. #themedicalfuturist   #digitalhealth   #future   #healthcare   #medicine   #technology   #fromchancetochoice   #COVID19   #COVID_19   #coronavirus   #thoughtleadership   #influencers   #scientists   #scientificinfluencers


 …see more, with distance of 0.7366408826500247:
4: We are so excited to offer virtual support to all working caregivers, including expecting and new parents. Contact me to schedule a complimentary assessment of your organization's current working caregiver benefits.  #employeebenefits   #caregiving   #workingcaregivers


 …see more, with distance of 0.7645330888997154:
5: Assuming Dr. Ford testifies, I want to know how we can get people on the Judiciary Committee and in the Senate truly to listen. Could we put our R/D affiliation in a drawer and just listen and hear?  If the point of a hearing is to hear, then prejudging and announcing one's vote ahead of time or that Judge Kavanaugh will be appointed misses the point of a hearing. And why plow ahead?  We plow fields not people. I get the rush but do we do justice by rushing to find truth? One more thought:  Youthful indiscretion is not rare. What is bad here is: failure to own one's past; failure to apologize; lying. The Justices decide about real people; truth matters.  Truly matters.  So does integrity.  So does honesty.  Judge Kavanaugh is not being criminally charged (too late); but he bears burden of persuasion.  This isn't about innocent until proven guilty in a criminal trial. There is no trial. There is a hearing on fitness and integrity. Worth distinguishing and remembering.


 …see more, with distance of 0.7666558933751895: